@import 'vars';

body {
    margin: 0;
    height: 200vh;
    background-color: #080808;

    * {
        font-family: $font_stack;
    }
}

.wrapper {
    position: relative;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    border: 10px solid black;
    background-color: #151515;
}
