@import 'vars';

body {
    margin: 0;
    background-color: #080808;
    height: 2600px;

    * {
        font-family: $font_stack;
    }
}

.wrapper {
    position: relative;
    box-sizing: border-box;
    border: 10px solid black;
    border-top: 0;
    width: 100%;
    height: 1800px;
    background-color: #151515;
}
