.navBar {
    z-index: 1000;
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;

    .logo {
        position: absolute;

        img {
            width: 135px;
            height: auto;
        }
    }

    .links {
        margin-top: 20px;
        margin-left: 200px;

        li {
            display: inline;
            float: left;
        }

        a {
            color: white;
            text-decoration: none;
            font-size: 2em;
            margin-right: 30px;
            display: inline-block;
        }

        a:hover {
            color: orangered;
        }

        /*a.current-menu-item,
        a.current_page_item {
            color: orangered;
        }*/
    }
}
